<h3>Cart</h3>

<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
    <span><button (click)=removeFromCart(item) type="button">remove</button></span>
    <span><img src="{{ item.image }}"></span>
    <span>{{ item.title }}</span>
    <!-- <span>{{ item.quantity }}</span> -->
    <span>{{ item.price }}</span>
</div>
<!-- image title -size- quantity price -->

<!-- <form [formGroup]="checkoutForm">

    <button class="button" type="submit">Purchase</button>

</form> -->