<div *ngIf="product">
    <img id="product-img" src="{{ product.imageUrl }}" alt="" height="100px" width="100px">
    <h1 id="title">{{ product.title }}</h1>
    <p id="info">{{ product.info }}</p>
    <button type="button">Info</button>
    <div>
        <select>
            <option *ngFor="let size of sizesArray" value="{{ size }}">{{ size }}</option>
        </select>
    </div>
    <div id="price">{{ product.price | currency }}</div>
    <button (click)="addToCart(product)" type="button">Add to Cart</button>
</div>