<div *ngFor="let product of products">
    <img id="product-img" src="{{ product[1] }}" alt="" height="100px" width="100px">
    <h1 id="title">{{ product[2] }}</h1>
    <p id="color">{{ product[3] }}</p>
    <button type="button">Info</button>
    <div>
        <select>
            <option value="">number</option>
            <option value="">number</option>
            <option value="">number</option>
        </select>
    </div>
    <div id="price">{{ product[4] }}</div>
    <button type="button"></button>
</div>
