<form [formGroup]="addProductForm" (ngSubmit)="onSubmit(addProductForm.value)">
    
    <div class="form-group col-md-6">
        <label for="image">Image: </label>
        <input id="image" class="form-control" type="text" formControlName="image" placeholder="image url">
    </div>

    <div class="form-group col-md-6">
        <label for="title">Title: </label>
        <input id="title" class="form-control" type="text" formControlName="title" placeholder="title">
    </div>

    <div class="form-group col-md-6">
        <label for="info">Info: </label>
        <input id="info" class="form-control" type="text" formControlName="info" placeholder="info">
    </div>

    <div class="form-group col-md-6">
        <label for="sizes">Sizes: </label>
        <input id="sizes" class="form-control" type="text" formControlName="sizes" placeholder="sizes">
    </div>

    <div class="form-group col-md-6">
        <label for="price">Price: </label>
        <input id="price" class="form-control" type="text" formControlName="price" placeholder="prices">
    </div>

    <button class="btn btn-primary button" type="submit">Add Product</button>

</form>

